@tailwind base;
@tailwind components;
@tailwind utilities;

/* keep pixel art crisp */
.pixelated {
  image-rendering: pixelated;
}

/* Force global black background */
html, body {
  @apply bg-black;
  height: 100%;
  margin: 0;
  padding: 0;
}
