@tailwind base;
@tailwind components;
@tailwind utilities;

/* keep pixel art crisp */
.pixelated {
  image-rendering: pixelated;
}

/* portrait lock */
@media screen and (orientation: landscape) {
  body::before {
    content: "Rotate back to portrait to continue";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: red;
    font-family: monospace;
    padding: 10px;
    z-index: 9999;
  }
}
